<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MaxLauncher.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
      <supportedRuntime version="v4.0"/>
      <supportedRuntime version="v2.0.50727" sku="Client"/>
    </startup>
    <applicationSettings>
        <MaxLauncher.MySettings>
            <setting name="APPLICATION_FILE_EXTENSION" serializeAs="String">
                <value>.mld</value>
            </setting>
            <setting name="APPLICATION_FILE_FILTER" serializeAs="String">
                <value>MaxLauncher documents|*.mld</value>
            </setting>
            <setting name="MAL_FILE_EXTENSION" serializeAs="String">
                <value>.mal</value>
            </setting>
            <setting name="MAL_FILE_FILTER" serializeAs="String">
                <value>MadAppLauncher documents|*.mal</value>
            </setting>
            <setting name="GAVersionFile" serializeAs="String">
                <value>http://madproton.users.sourceforge.net/maxlauncher/version/ga_version.txt</value>
            </setting>
            <setting name="BetaVersionFile" serializeAs="String">
                <value>http://madproton.users.sourceforge.net/maxlauncher/version/beta_version.txt</value>
            </setting>
            <setting name="AppWebsite" serializeAs="String">
                <value>https://maxlauncher.sourceforge.io</value>
            </setting>
            <setting name="EMAIL" serializeAs="String">
                <value>madproton@gmail.com</value>
            </setting>
        </MaxLauncher.MySettings>
    </applicationSettings>
</configuration>
